<div class="story-body">
    <h2>Here is a chart</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-01.js</code> inside of this partial</p>
    <div id="chart-1"></div>
</div>

<script src="scripts/chart-01.js"></script>
