---
headline: "This title is from the top of index.hbs"
subhead: "It's the stuff between the --- dashes, it's called frontmatter"
published_date: "January 1, 1970"
site: "http://www.littlecolumns.com"
siteName: "Little Columns"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
kicker: "Little Columns Project Template"
author:
    name: "Jonathan Soma"
    url: "http://jonathansoma.com/"
    twitterHandle: "@dangerscarf"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->

{{> story/basic }}

<!-- 
  Charts are exactly the same.
-->

{{> story/chart }}

<!-- 
  If you want to use something exported from ai2html...
    1. Rename the exported .html file to .hbs
    2. Put the .hbs file inside of 'html/story'
    3. Move the exported images to the images folder
    4. Include the partial normally like below
  -->

{{> story/illustrator_demo }}

<!--
  You can also put the actual HTML here if you really want to,
  although it's a little less organized looking
-->

<div class="story-body">
    <h2>Here is some body copy</h2>
    <p>I can put code in <code>src/index.hbs</code> directly, but it's nicer to put it in a partial.</p>
</div>
